/*
  FOOTER SECTION
*/

.footer {
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  background: url('../img/background-2.png') 50% 89% no-repeat;
  filter: gray; /* IE 6-9 */
  filter: grayscale(100%);
  text-align: center;
  width: 100%;
 
  p {
    @include  font-size(24px);
    color: $white;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    margin: 49px 0px 0px 22px;
  }

  .menu {
    @include align-items(center);
    @include flex-direction(row);
    @include flexbox;
    @include justify-content(center);

    .nav {
      @include  font-size(18px);
      @include flex-direction(row);
      @include flexbox;
      color: $white;
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
      font-stretch: normal;
      font-style: normal;
      font-weight: 500;
      list-style: none;
      margin: 0 0 30px 0;
      padding-left: 0;
      padding-top: 22px;
        
      .item {
        margin: 0 5px 0 5px;

        &:first-child {
          margin-left: 0;
          margin-right: 8px;
        }

        &:last-child {
          margin-left: 10px;
          margin-right: 0;
        }

        .link {
          @include  font-size(18px);
          color: $white;
          font-family: 'Roboto', sans-serif;
          font-size: 18px;
          font-stretch: normal;
          font-style: normal;
          font-weight: 500;
          text-decoration: none;

          &:hover {
            color: $black;
          }
        }
          
        .link-no-active {
          cursor: default;

          &:hover {
            color: $white;
          }
        }
      }
    }
  }
}

/*
  END FOOTER SECTION
*/