/*
  HEADER SECTION
*/

.header {
  width: 100%;

  .menu {
    @include align-items(center);
    @include flex-direction(row);
    @include flexbox;
    @include justify-content(flex-end);

    .nav {
      @include flex-direction(row);
      @include flexbox;
      list-style: none;
      padding-top: 19px;

      @media (max-width: 480px) {
        @include align-items(center);
        @include flex-direction(column);
        @include flexbox;
        padding: 0;
        width: 100%;
      }

      @media (min-width: 481px) and (max-width: 768px) {
        @include align-items(center);
        @include flex-direction(row);
        @include justify-content(center);
        @include flexbox;
        padding-top: 19px;
        padding-left: 0;
        width: 100%;
      }
        
      .item {
        margin: 0 20px 0 17px;

        @media (max-width: 480px) {
          margin: 5px 0 5px 0;
        }
        
        &:first-child {
          margin-left: 0;
          margin-right: 16px;

          @media (max-width: 480px) {
            margin: 0;
          }
        }

        &:last-child {
          margin-left: 13px;
          margin-right: 0;

          @media (max-width: 480px) {
            margin: 0;
          }
        }

        .link {
          @include font-size(16.5px);
          color: #3a4246;
          font-family: 'Roboto', sans-serif;
          font-size: 16.5px;
          font-stretch: normal;
          font-style: normal;
          font-weight: 300;
          text-decoration: none;

          &:hover {
            color: $white;
          }
        }

        .link-active {
          color: $white;
          font-weight: 500;
        }
      }
    }
  }
}

/*
  END HEADER SECTION
*/